@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  color: #ffc132;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

.title{
  font-family: 'Kufam', sans-serif;
  font-weight: 800;
  color: #AA1515;
}
